<div class="container">
  <h1></h1>
    <div id="anagrams"></div>
  <form action="/word" method="get">
    <br>
    <input type="text" name="user_input">
    <input class="button" type="submit" value="anagrams">
  </form> 
</div>
